*.pages
*.pdf
!Portfolio\ Project/Estes_PortfolioPaper_Option1.pdf
!Portfolio\ Project/Estes_PortfolioProject_Instructions.pdf
*.zip
*.DS_Store
*.jpg
*copy
CT\ 3/__pycache__/
CT\ 3/build/
CT\ 3/dist/
CT\ 3/CT3
CT\ 3/CT3.spec
CT\ 3/requirements.txt
CT\ 4/instructions.txt
CT\ 6/rawData.csv
CT\ 6/test.csv
CT\ 6/ct6_old.py
Portfolio\ Project/__pycache__/
Portfolio\ Project/Data-Orig/
Portfolio\ Project/Milestones
Portfolio\ Project/Source\ Documents/
Portfolio\ Project/mri_process_all.py
Portfolio\ Project/survey_combinations.py
Portfolio\ Project/Data/oasis_cross-sectional.csv
Portfolio\ Project/Data/oasis_filtered.csv
